body{
    font-family: "Inter", serif;
    background-color: #0D0D0D
}
.header-container{
    display: flex;
    width: 281;
    height: 537.5;
    color: #FFFFFF;
    font-size: 1;
    font-style: normal;
}
.iconrower1{
    padding-top: 220px;
    padding-right: 0px;
}
.wallet-number{
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-button-color);
    background: var(--tg-theme-button-text-color);
}
