body{
    font-family: "Inter", serif;
    background-color: #0D0D0D
}
.header-container{
    display: flex;
    width: 281;
    height: 537.5;
    color: #FFFFFF;
    font-size: 1;
    font-style: normal;
}
.heder-number{
    color:#FFFFFF;
    padding-top: 20px;
    padding-left: 95px;
    padding-right: 95.5px;
    font-size: 24;
}
.iconrower1{
    padding-top: 220px;
    padding-right: 0px;
}
