* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body{
    font-family: "Inter", serif;
    background-image: url("./lasttest00005.png");
    background-size: 100%;
}
.header-container{
    width: 100%;
    height: 60px;
    background-color: rgba(25, 25, 25, 50%);
    padding-top: 0px;
}
.age_middle_heder_text {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    z-index: 3;
    margin-right: 40%;
}
.line_under_heder {
    margin-right: 87%;
    width: 3px;
    height: 5%;
    background-color: #529DD6;
    z-index: 4;
    position: fixed;
    top: 2.1%;
}
.min_heder_main_btn {
    padding-top: 2.5px;
}
.logoup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}
.rowcolich{
    font-size: 3rem;
    padding-top: 3.5px;
    color: #FFFFFF;
    text-align: center;
}
.ROWnumber1{
    padding-left: 0px;
    font-size: 1.7rem;
    font-weight: 400;
}
.champrang{
    color: #848484;
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
    -webkit-tap-highlight-color: transparent;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonprofile {
    width: 100px;
    height: 35px;
    border: 1.5px solid #3A3A3A;
    background: rgba(13, 13, 13, 80%);
    font-size: 12px;
    padding: 24px 13px;
    border-radius: 8px;
    color: #FFFFFF;
    position: fixed;
    top: 67%;
    left: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
}
.buttonprofile svg {
    margin-right: 8px;
}
.buttonjoincommunity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 35px;
    border: 1.5px solid #3A3A3A;
    background: rgba(13, 13, 13, 80%);
    font-size: 12px;
    padding: 24px 13px;
    border-radius: 8px;
    color: #FFFFFF;
    position: fixed;
    top: 76%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 14px 0 14px;
    -webkit-tap-highlight-color: transparent;
}
.buttonjoincommunity svg {
    margin-right: 8px;
}
.arrowbutcom{
    margin-left: 70px;
}
.bottombuttons {
    position: fixed;
    bottom: 0;
    height: 13%;
    padding-bottom: 0px;
    width: 100%;
    background-color: rgba(25, 25, 25, 50%);
    z-index: 0;
}
.buttonhomeimg {
    z-index: 2;
    position: fixed;
    bottom: 3%;
    left: 6%;
}
.buttontaskimg {
    z-index: 2;
    position: fixed;
    bottom: 3%;
    left: 28%;
}
.buttonfriendsimg {
    z-index: 2;
    position: fixed;
    bottom: 3%;
    left: 51%;
}
.buttonairdropimg {
    z-index: 2;
    position: fixed;
    bottom: 3%;
    left: 76%;
    right: 5%;
}
.accountage b {
    color: #ffffff;
}

.age_top_panel {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(25, 25, 25, 50%);
    padding-top: 0px;
    justify-content: center;
}
.age_top_text {
    padding-top: 6px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    z-index: 3;
    margin: 0 auto;
}
.usernameonAge {
    position: fixed;
    color: #939393;
    left: 0px;
    right: 0px;
    display: block;
    text-align: center;
    top: 39%;
    font-size: 1.5rem;
    font-weight: 500;
}
.usernameonAgeReward {
    position: fixed;
    color: #ffffff;
    left: 0px;
    right: 0px;
    display: block;
    text-align: center;
    top: 45%;
    font-size: 1.5rem;
    font-weight: 400;
}
.line_under_text {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 3px;
    background-color: #529DD6;
    z-index: 4;
    position: fixed;
    top: 45px;
}
.buttonbackage {
    position: fixed;
    left: 0px;
    right: 0px;
    display: block;
    text-align: center;
    bottom: 7%;
}

.rowLogoOnDaily{
    position: fixed;
    left: 0px;
    right: 0px;
    display: block;
    text-align: center;
    bottom: 22%;
    z-index: 2;
}
.PaddleOnDayli {
    position: fixed;
    display: block;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 33%;
}
.daily_claim_btn {
    position: fixed;
    display: block;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 6.4%;
    z-index: 8;
}
.day_number_class {
    font-size: 8rem;
    font-weight: 600;
    display: block;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    z-index: 8;
    top: 10%;
    left: 0px;
    right: 0px;
}
.days_text_class {
    font-size: 1.9rem;
    font-weight: 600;
    color: #FFFFFF;
    position: fixed;
    z-index: 8;
    top: 37%;
    left: 0px;
    right: 0px;
    text-align: center;
    display: block
}
.rowdayly_text_class {
    font-size: 1.9rem;
    font-weight: 600;
    padding-top: 3.5px;
    color: #FFFFFF;
    position: fixed;
    top: 44%;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 8;
    display: block
}
.paddleOnDaily {
    position: fixed;
    right: 0px;
    top: 32.5%
}
.TaskBlockTop {
    display: flex;
    width: 100%;
    height: 95px;
    background-color: rgba(25, 25, 25, 50%);
    padding-top: 0px;
    justify-content: center;
}
.taskclass {
    position: fixed;
    font-size: 2.3rem;
    font-weight: 600;
    z-index: 2;
    top: 1.8%;
    right: 9%;
    color: #FFFFFF;
}
.lineUnderTxtTask {
    display: flex;
    justify-content: center;
    width: 125px;
    height: 3px;
    background-color: #529DD6;
    z-index: 4;
    position: fixed;
    top: 8.4%;
    right: 7.4%;
}
.topText1Text {
    position: fixed;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 2;
    top: 5.3%;
    left: 6.2%;
    color: #FFFFFF;
}
.top2TextText {
    position: fixed;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 2;
    top: 9.2%;
    left: 6.2%;
    color: #7D7D7D;
}
.QS_TextTask {
    position: fixed;
    font-size: 1.1rem;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 3%;
    left: 9.2%;
}
.TaskBlockStart1 {
    position: fixed;
    width: 86.8%;
    height: 13.7%;
    background-color: #1C1C1C;
    top: 20%;
    left: 6.5%;
    border-radius: 7px;
    border: 2px solid #3A3A3A;
}
.SponsorTaskLogoClass {
    position: fixed;
    z-index: 5;
    left: 10%;
    top: 20%;
    height: 13.7%;
    display: flex;
    align-items: center;
}
.TaskToBtn {
    position: fixed;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    z-index: 5;
    left: 35%;
    top: 22%;
}
.arrowTaskBtn1 {
    top: 20%;
    right: 14%;
    position: fixed;
    height: 13.7%;
    display: flex;
    align-items: center;
}
.QuantityAddRow {
    position: fixed;
    font-size: 1rem;
    color: #7D7D7D;
    z-index: 5;
    left: 35%;
    top: 29%;
}
.RowOnTask1 {
    font-weight: 400;
    font-size: 0.7rem;
}
.RowOnTask1Bold {
    font-weight: 600;
}
.SpecTaskText {
    position: fixed;
    font-size: 1.1rem;
    font-weight: 400;
    color: #FFFFFF;
    top: 36%;
    left: 9.2%;
}

.TaskBlockStart2 {
    position: fixed;
    width: 86.8%;
    height: 13.7%;
    background-color: #1C1C1C;
    top: 40%;
    left: 6.5%;
    border-radius: 7px;
    border: 2px solid #3A3A3A;
}
.SponsorTaskLogoClass2 {
    position: fixed;
    z-index: 5;
    left: 10%;
    top: 40.5%;
    height: 13.7%;
    display: flex;
    align-items: center;
}
.TaskToBtn2 {
    position: fixed;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    z-index: 5;
    left: 35%;
    top: 42%;
}
.arrowTaskBtn2 {
    top: 40%;
    right: 14%;
    position: fixed;
    height: 13.7%;
    display: flex;
    align-items: center;
}
.QuantityAddRow2 {
    position: fixed;
    font-size: 1rem;
    color: #7D7D7D;
    z-index: 5;
    left: 35%;
    top: 45.7%;
}
.RowOnTask2 {
    font-weight: 400;
    font-size: 0.7rem;
}
.RowOnTask2Bold {
    font-weight: 600;
}
.NoQuests1 {
    position: fixed;
    font-size: 1.2rem;
    color: #464646;
    z-index: 5;
    left: 35%;
    top: 21.4%;
    font-weight: 600;
    left: 0px;
    right: 0px;
    text-align: center;
    display: block;
}
.lineLoad1 {
    position: fixed;
    width:40%;
    height:2px;
    bottom: 43.7%;
    left: 30%;
    right: 30%;
    background:linear-gradient(white 0 0) center/0% 100% no-repeat;
    animation:l 2s linear infinite alternate;
}

@keyframes l {
  to {background-size:100% 100%}
}
